<header class="header">
  <div class="header__logo">
    <a href="#/home"><img src="https://s3-us-west-1.amazonaws.com/epicvisor/epicvisor_x3.png"></a>
  </div>
  <div class="logo_org">
    <img src="https://s3-us-west-1.amazonaws.com/epicvisor/UCLA_anderson.png">
  </div>

  <nav class="header__navigation">
    <ul class="header__navigation-list">
      <li>
        <a href="#/landing" title="Mentors">Mentors</a>
      </li>
      <li>
        <a href="#" title="About Us">About Us</a>
      </li>
      <li>
        <a href="#" title="Contact">Contact</a>
      </li>
      <li ng-if="user" class="header__profile__link">
        <a href="#/profile" title="Profile">Profile <img class="img__profile--small" src="{{user.avatar}}"></a>
      </li>
      <li ng-if="user" class="header__profile__link">
        <a href="#/profile/sessions" title="Profile">Session Settings</a>
      </li>
     </ul>
  </nav>
</header>