// Base.scss
// Serves as the base file for global styling
body {
    background-color: $off-blue-grey;
}

.wrapper {
    max-width: 68em; // TODO: Revisit to make it responsive accordingly
    margin: 0 auto;
    display: block;
    padding: rem(10px); // Avoiding squish-iness
}

button {
    border: 0;
}

select {
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-bottom: 0.75em;
    padding: rem(7px);
    padding-right: 1.6em;
    background: url(https://www.flextras.com/MobileComponents/Docs/asdocs/images/expanded.gif) no-repeat right #fff;
    -webkit-appearance: none;
    background-position-x: 95%;
}

.block__quote {
    border-left: 3px solid #ffcc00;
    padding: 4px;
    padding-left: 20px;
    margin: rem(10px) 0;
    font-style: italic;
}

.no-padding-top {
    padding-top: 0;
}

.card-divider {
    height: 1px;
    background: #f3f4f5;
    width: 100%;
    display: block;
    margin: 1em 0;
}

.field-small {
    max-width: 250px;
    display: inline-block;

    &:not(:first-child) {
        margin-left: rem(15px);
    }
}

// Buttons
.btn {
    padding: rem(7px) rem(20px);
}

.btn-success {
    background-color: #3BB677;
    border: 1px solid #31a76a;
}

.btn-cancel {
    background-color: #ff7676 !important;
    border: 1px solid #e27676;
}
