// Base.scss
// Serves as the base file for global styling
body {
    background-color: $off-blue-grey;
}

.wrapper {
    max-width: 68em; // TODO: Revisit to make it responsive accordingly
    margin: 0 auto;
    display: block;
    padding: rem(10px); // Avoiding squish-iness
}

button {
    border: 0;
}

.block__quote {
    border-left: 3px solid #ffcc00;
    padding: 4px;
    padding-left: 20px;
    margin-top: 10px;
    margin: #efefef;
    font-style: italic;
}

.no-padding-top {
    padding-top: 0;
}
