.session-form {
  margin-top: 0;

  .profile__img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
  }

  &__bio {
    margin: rem(6px) 0 rem(14px) 0;
    width: 100%;
  }

  &__details {
    margin-left: rem(14px);
  }

  &__details,
  &__bio {
    display: inline-block
  }

  &__h3 {
    font-weight: 500;
    font-size: 17px
  }

  &__date {
    margin-top: -2px;
  }

  &__header {
    color: #86888a; //@TODO var color this
    letter-spacing: 0.08em;
    font-weight: 800;
    margin-bottom: rem(-14px);
    margin-top: rem(10px);
  }

  &__instructions {
    margin: rem(-11px) 0 rem(18px);
  }

  &__btns {
    margin-bottom: rem(10px);

    .btn {
      &:not(:first-child) {
        margin-left: rem(14px);
      }
    }
  }

  .time-field {
    display: inline-block;

    &:not(:first-child) {
      margin-left: rem(15px);
    }
  }

  .topics-group {
    margin: rem(10px) 0 rem(13px);

    .session-form__instructions {
      margin-bottom: rem(10px);
    }
  }

  label,
  .checkbox-label {
    display: block;
    font-weight: 500;
    color: #737477;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 0.375em;
  }

  .checkbox-label {
    display: inline;
  }

  .checkbox-topic {
    margin-bottom: rem(8px);
  }

  .additional-topic-group {
    margin-bottom: rem(13px);
  }

  .fa {
    margin-right: rem(8px);
  }
}
