.booker{
  @include outer-container(12);
  @include clearfix;
  @include pad(20px 0);
  border: 1px $light-gray solid;
  margin-top:30px;
  margin-bottom:30px;
  text-align: center;
  min-height:300px; 
  .booker__session__form{
    .booker__sesssion__group{
      @include span-columns(4);
      @include shift(4);
      clear:both;
    }
    .text-select-classyear{
      text-align: center;
      select {
        @include span-columns(6);
        @include shift(3);
        border: 1px #ccc solid;
        font-size: 1.5em;
      }
    }
    .booker__session__group__question{
      @include span-columns(6);
      @include shift(3);
      clear:both;
      .booker__session__question{
        @extend .text--bold;
        @extend .h4;
      }
    }
    text-align: center;
    input[type="text"]{
      text-align: center;
    }
    .booker__checkbox-group--checkboxlabel{
      padding-left: 150px;
      margin-bottom: 20px;
    }
    .group-topic {
      input {
        @include span-columns(4);
        float:left
      }
    }
    .btn-cancel-book{
      @extend .btn-cancel;
    }
  }
  .booker-heading{
    @extend .h2;
     margin-bottom: 15px; 
    }
  &__checkbox-group{
    text-align: left;
    &--checkboxlabel{
      margin-bottom: 2px;
      input{
        float:left;
      }
      label {
        line-height: 1em;
      }
    }
    
  }
}