.session-form {
  margin-top: 0;

  .profile__img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
  }

  &__bio {
    margin: rem(6px) 0 rem(14px) 0;
    width: 100%;
  }

  &__details {
    margin-left: rem(14px);
  }

  &__details,
  &__bio {
    display: inline-block
  }

  &__h3 {
    font-weight: 500;
    font-size: 17px
  }

  &__date {
    margin-top: -2px;
  }

  &__header {
    color: #86888a; //@TODO var color this
    letter-spacing: 0.08em;
    font-weight: 800;
    margin-bottom: rem(-14px);
    margin-top: rem(10px);
  }

  &__instructions {
    margin: rem(-11px) 0 rem(18px);
  }

  &__btns {
    margin-bottom: rem(10px);

    .btn {
      &:not(:first-child) {
        margin-left: rem(14px);
      }
    }
  }

  .time-field {
    display: inline-block;

    select {
      line-height: 1;
    }

    &:not(:first-child) {
      margin-left: rem(15px);
    }
  }

  ._720kb-datepicker-calendar {
    select {
      box-shadow: none;
    }
  }

  .topics-group {
    margin: rem(10px) 0 rem(13px);

    .session-form__instructions {
      margin-bottom: rem(10px);
    }
  }

  .time-slot-group {
    margin-bottom: rem(20px);
  }

  .date-input-wrapper {
    position: relative;
    height: 0;

    .fa {
      position: absolute;
      z-index: 1;
      top: 9px;
      left: 8px;
      color: #737373;
      font-size: 13px;
    }
  
    // @TODO: Why is the wrapper not being applied to the 2nd wrapper?
    // needs to absorb the height of the elements for now absolute with static height
    .fa-clock-o {
      top: 53px;
    }

    .time-select {
      min-width: 200px;
      font-size: 13px;
    }

    input,
    .time-select {
      padding-left: 28px;
    }
  }

  label,
  .checkbox-label {
    display: block;
    font-weight: 500;
    color: #737477;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 0.375em;
  }

  .checkbox-label {
    display: inline;
  }

  .checkbox-topic {
    margin-bottom: rem(8px);
  }

  .additional-topic-group {
    margin-bottom: rem(13px);
  }

  .fa {
    margin-right: rem(8px);
  }
}

