// .header{
//   $base-border-radius: 3px !default;
//   $dark-gray: #333 !default;
//   $large-screen: em(860) !default;
//   $base-font-color: $dark-gray !default;
//   $centered-navigation-padding: 1em;
//   $centered-navigation-logo-height: 2em;
//   $centered-navigation-background: #E7F1EC;
//   $centered-navigation-color: transparentize($base-font-color, 0.3);
//   $centered-navigation-color-hover: $base-font-color;
//   $centered-navigation-height: 60px;
//   $centered-navigation-item-padding: 1em;
//   $centered-navigation-submenu-padding: 1em;
//   $centered-navigation-submenu-width: 12em;
//   $centered-navigation-item-nudge: 2.2em;
//   $horizontal-bar-mode: $large-screen;

//   background-color: $centered-navigation-background;
//   border-bottom: 1px solid darken($centered-navigation-background, 6%);
//   min-height: $centered-navigation-height;
//   width: 100%;
//   z-index: 9999;
//   &__navigation--centered{
//     background: black;
//   }
// }
.header{
  $header_height: 65px;
  $header_background-color: #fff;
  $header_bottom_spacing: 30px;
  @include outer-container;
  padding-bottom: 18px;
  margin: 0 0 rem(30px) 0;
  min-height: $header_height;
  background-color: white;
  z-index: 9999;
  // @TODO Find the variable that is setting the max width
  max-width: initial !important;

  .header__logo{
    float:left;
    max-width: 130px;
    margin-right:10px;
    padding-top:20px;
    img{
      max-width: 100%;
    }
  }
  .logo_org{
    float: left;
    max-width: 130px;
    border-left: 1px #ccc solid;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    img{
      max-width: 100%;
    }
  }
  .header__navigation{
    position: relative;
    float: right;
    
    .header__navigation-list{
      list-style-type: none;
      li {
        display: inline-block;
        list-style-type: none;
        padding-top: 5px;
      }
      a {
        font-size: 14px;
        padding-top: 5px;
        color:$dark-gray;
        text-transform: uppercase;
        padding-left: 5px;
        padding-right: 5px;
        @include media($desktop-small-up) {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      .img__profile--small {
        @include circle(30px, #fffe);
        margin-left: 5px;
        margin-bottom: -5px;
      }
    }
  }
}
$midnight-blue: #0f4a82;
$steel-blue: #4373ae;
.centered-navigation {
  $base-border-radius: 3px !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $header-top-border--color: $steel-blue !default;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: #fff;
  $centered-navigation-color: transparentize($base-font-color, 0.3);
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  background-color: $centered-navigation-background;
  border-bottom: 1px solid darken($centered-navigation-background, 6%);
  min-height: $centered-navigation-height;
  width: 100%;
  z-index: 9999;
  border-top: 4px $header-top-border--color solid;
  // Mobile view

  .header__logo{
    $thisWidth: 120px;
    max-width: $thisWidth;
    position: relative;
    float:left;
    @include span-columns(2);
    margin-top: 18px;
    img {
      max-width: 100%;
    }
  }
  .logo__organization{
    $thisWidth: 120px;
    @include shift(3);
    @include span-columns(2);
    margin-top: 5px;
    display: inline;
    // max-height: $centered-navigation-height;
    img{
     max-width: 100%;
     max-height: $centered-navigation-height;
    }
  }
  .profile__menu{
    float:right;
    @include span-columns(3);
    text-align: right;
  }
  .navigation-logo{
    float:left;
    width: auto;
    list-style-type: none;
    font-size: 1.2em;
    text-transform: uppercase;
    padding-top: 20px;
  }
  .org-logo{
    list-style-type: none;
    float:right;
    margin-top: 13px;
  }
  .mobile-logo {
    display: inline;
    float: left;
    max-height: $centered-navigation-height;
    padding-left: $centered-navigation-padding;

    img {
      max-height: $centered-navigation-height;
      opacity: .6;
      padding: .8em 0;
    }

    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .centered-navigation-mobile-menu {
    color: $centered-navigation-color;
    display: block;
    float: right;
    line-height: $centered-navigation-height;
    margin: 0;
    padding-right: $centered-navigation-submenu-padding;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $centered-navigation-color-hover;
    }
  }

  // Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }

  // The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $centered-navigation-item-nudge;
    }
  }

  ul li.nav-link {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding-right: $centered-navigation-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;

    a {
      color: $centered-navigation-color;
      display: inline-block;
      outline: none;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $centered-navigation-color-hover;
      }
    }

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;

      a {
        padding-right: $centered-navigation-item-padding;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;
    font-weight: bold;
    @include media($large-screen) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$centered-navigation-logo-height / 3;
    max-height: $centered-navigation-logo-height;
    opacity: 0.6;
  }

  // Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $centered-navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -0.4em auto auto);
      color: $centered-navigation-color;
      content: "\25BE";
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $centered-navigation-submenu-padding;
      }

      &:after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: $centered-navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: $centered-navigation-submenu-padding;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$centered-navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $centered-navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $centered-navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($centered-navigation-background, 3%);
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $centered-navigation-background;
          padding-left: $centered-navigation-submenu-padding;
          text-align: left;
          width: $centered-navigation-submenu-width;
        }
      }
    }
  }
}
