
/**** CSS ***/
@mixin vertically-and-horizontally-centered ( $height, $width ) {
  left: 50%;
  margin-left: -$width / 2;
  margin-top: -$height / 2;
  min-height: $height;
  min-width: $width;
  position: fixed;
  top: 35%;
}

// Draw transparent black background
.modal-dialog-background {
  @include animation(fadein 0.4s);
  background-color: transparent;
  height: 100%;   // Fixes background display on iPad
  left: 0;
  position: fixed;
  @include radial-gradient(50% 40%, circle cover, hsla(0, 0%, 0%, 0.20) 20%, hsla(0, 0%, 0%, 0.25) 35%, hsla(0, 0%, 0%, 0.7) 100%);
  top: 0;
  width: 100%;
  z-index: 9998;

  //iPad [portrait + landscape] - Fix background not covering entire document on scroll
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    background: hsla(0, 0%, 0%, 0.4); // remove gradient
    height: 200%;
  }
}

.modal-dialog {
  $dialog-width: 40em;
  // @extend .animation-zoom-in;    // Animation-keyframes
  background: hsl(0, 0%, 100%);
  border: 1px solid darken($base-border-color, 10%);
  // @include box-shadow(0 6px 26px 0 hsla(0%, 0%, 0%, 0.75));
  padding: 2.5em;
  @include vertically-and-horizontally-centered(100px, $dialog-width);
  width: $dialog-width;
  z-index: 9999;

  h1 {
    // @extend .dialog-header;
  }

  .inner-wrapper {
    padding: 18px;
    padding-bottom: 15px;

    p {
      font-family: $base-font-family;
    }
  }

}

// @media screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
//   .modal-dialog {
//     $dialog-width: 300px;
//     margin-top: 0;
//     top: 20px;
//     @include vertically-and-horizontally-centered(100px, $dialog-width);
//     width: $dialog-width;

//     button, button.submit, button.cancel {
//       width: auto;
//       font-size: 15px;
//       padding-left: 1em;
//       padding-right: 1em;
//     }
//   }
// }