.title-heading{
  @include outer-container;
  @include clearfix;
}
.profile__nav{
  // @include align-self(flex-start)
  float: left;
  width: 100%;
  @extend .h5;
}
.profile {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(flex-start);
  @include flex-wrap(wrap);
  @include justify-content(space-around);
  @include pad(20px 2em);
  background-color: $card-bg;
  border-radius: 4px;
  border: 1px solid $border-grey;
  margin-top: 30px;
  margin-left:auto;
  margin-right:auto;
  max-width: 1200px;

  .profile__left {
    @include flex(1);
    max-width: 500px;
    min-width: 350px;
    margin: 20px;
  }
  .profile__right {
    max-width: 500px;
    min-width: 350px;
    margin: 20px;
    @include media($desktop-small-up) {
      @include flex(1);
    }
  }
  .profile__intro {
    @include clearfix;
  }

  .profile__year-field {
    @extend input;
    // TEMPORARY REPALCE WITH TEXT > OR OUR OWN
    background: url(https://www.flextras.com/MobileComponents/Docs/asdocs/images/expanded.gif) no-repeat right #fff;
    -webkit-appearance: none;
    background-position-x: 58px;
    width: 80px !important;
  }

  .profile__avatar{
    text-align: center;
  }

  .profile__social-list {
    margin-top: rem(7px);
  }

  .profile__img{
    @include circle(60px, #fff);
    @include media($desktop-small-up) {
      @include circle(100px, #fff);
    }
  }
  .profile__intro-copy{
    text-align: center;
    margin-bottom: rem(10px);

    p {
      font-size: rem(14px);
      font-weight: 500;
      color: grey;
      margin: 0;
      margin-top: -8px;
    }
  }
  .profile__intro_name{
    margin:0;
  }
  .profile__area-info{
    @include pad(20px 20px 30px)
    background-color: #fff;
  }
}
.horizontal-select-group {
  @include clearfix;
  select {
    display: inline-block;
    float: left;
    margin: 0 1em;
    font-size: 1.2em;
  }
  input {
    display: inline-block;
  }
}
.checkbox-label-group {
  display: inline-block;
  margin-right:15px;
  @include pad(5px)
  label {
    display: inline-block;
    float: left;
    line-height: .9em;
    padding-left: 8px;
  }
  input {
    display: inline-block;
    float: left;
  }
}

.profile__area-info {
  ul {
    padding-left: 0;
  }
}

.profile__pill {
  padding: 5px 20px;
  list-style-type: none;
  background: #e0e0e0;
  width: inherit;
  display: inline-block;
  margin-right: rem(7px);
  border-radius: 20px;

  &:first-child {
    margin-left: 0;
  }
}
