.profile {
  @include outer-container();
  @include pad(0 20px);
  margin-top: 2em;
  &__avatar {
    // @include circle(100px, #fffe);
  }
  &__img{
    @include circle(100px, #fffe);
  }
  &__name-info {
    @include span-columns(12);
    text-align: center;
    @include media($large-screen) {
      @include span-columns(6);
      @include pad(0);
    }
    &-name {
        
    }
    &-about{
      text-align: left;
      &-textarea{
        border:1px #ccc solid;
        width:90%;
      }
    }
    &-edu{}
  }

  &__area-info{
    @include span-columns(12);
    @include media($large-screen) {
      @include span-columns(6);
      @include pad(0);
    }
  }
}