.profile-session {
  margin-top: 0;

  .field {
    display: inline-block;

    &:not(:first-child) {
      margin-left: rem(15px);
    }
  }

  .time-group {
    margin: rem(8px) 0;
  }

  label {
    display: block;
    font-weight: 500;
    color: #737477;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 0.375em;
  }

  .field-clarifier {
    font-weight: bold;
  }


  .topic-listing {
    margin-bottom: rem(10px);
  }
}
