.epic-sessions{
  @include outer-container;
  margin-bottom: 80px;
  .epic-sessions__question{
    @include clearfix;
    margin-bottom: 30px;
    .question-copy{
      @extend .h4;
      margin-bottom: 10px;
    }
    .label-select-group{
      label{
        display: inline-block;
        float: left;
      }
      select{
        display: inline-block;
        float: left;
      }
    }
    .horizontal-select-group{
      @include span-columns(5);
      select{
        display: inline-block;
        float:left;
      }
      input {
        display: inline-block;
        float:left;
        width:60%;
      }
    }
  }
}
.epic-session-available-time-schedule{
  @include clearfix;
  margin-bottom: 30px;
  .epic-session-select-time-range-group{
    position: relative;
    display: block;
    @include clearfix;
    label{
      width: 10%;
      text-align: right;
      float:left;
      margin-right: 20px;
    }
    .txt-between{
      float:left;
      margin-left: 20px;
      margin-right:20px;
    }
    select {
      @extend .h4;
      float:left;
      height: 25px;
    }
    .select-begin-time-range{
      &:after{
        content: "to";
      }
    }
  }
}