// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: 'Lato', sans-serif;
$heading-font-family: $base-font-family;
$paragraph-font-family: $base-font-family;
// Font Sizes
$base-font-size: 1em;
$small-font-size: $base-font-size*.75;
$large-font-size: $base-font-size*1.5;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #00a3e8;
$blackish: #000000;
$medium-gray: #B7BBC0;
$light-green: #e6efc2;
$rosie-red: #e57373;
$baby-blue: #e5edf8;
$sunset: #fff6bf;
$golden: #F1C403;

// Greys
$off-blue-grey: #f3f4f5;
$lighter-grey: #e4e4e4;
$light-gray: #f4f4f4;
$dark-gray: #4a4a4a;
$background-grey: #ececec;
$border-grey: #e2e2e2;

$alert-color: $light-green !default;
$error-color: $rosie-red !default;
$notice-color: $baby-blue !default;
$success-color: $sunset !default;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $lighter-grey;
$base-border: 1px solid $base-border-color;

$card-bg: white;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

$dropshadow-1: inset 0 0 1px #F4F4F2, 0 1px 3px #e6e6e6;
