<h1>Hello, {{mentor.first_name}}  {{mentor.last_name}}</h1>

<p><strong>Thank you for joining the UCLA Anderson Private Beta of EpicVisor!</strong></p>

<p>Feel free to contact the team for just about anything you need: <a href="mailto:info@epicvisor.com">info@epicvisor.com</a></p>

<p>And login to your profile to see upcoming sessions or make changes to your info: <a href="http://uclamba.epicvisor.com/oauth/linkedin/login">Login with Linkedin</a></p>

<p>We hope you have a great time EpicVising!</p>

<p><strong>Team EV</strong></p>
