<div class="scheduler">
  <h3 class="scheduler__h3">Availability</h3>
  <table class="scheduler__tables">
    <tbody>
      <tr ng-repeat="session in mentorSessions" ng-if="session.status === 'Open'">
          <td>Week of {{session.date | date:"M/d"}}</td>
          <td>Session {{session.number}}</td>
          <td> <button ng-click="bookSession(session, mentor)"> Book </button> </td>
      </tr>
    </tbody>
  </table>
  <p>Only the following 4 weeks of sessions are available to book. Check back next week for more.</p>
</div>
