<div class="card-plain session-form">
  <div class="alert" ng-if="error">{{error}}</div>
  <h2>EpicSession Application</h2>

  <div class="session-form__bio">
    <h5 class="session-form__header">Selected Mentor</h5>
    <span class="card-divider"></span>
    <img class="profile__img round" src="{{avatar}}">
    <div class="session-form__details">
      <h3 class="session-form__h4">{{mentorName}}</h3>
      <p class="session-form__date">Applying for a session on {{session.date | date:"M/d"}}</p>
    </div>
  </div>

  <form>
    <div class="session-form__personal">
      <h5 class="session-form__header">Your Information</h5>
      <span class="card-divider"></span>
      <fieldset class="information-group">
        <input class="field-small" type="text" name="name" placeholder="Name" ng-model="name">
        <input class="field-small" type="text" name="inviteEmail" placeholder="Email" ng-model="email">
        <input class="field-small" type="text" placeholder="Class Year" ng-model="selectedYear">
        <p><small><i>NOTE: Only validated emails can arrange sessions.</i></small></p>
      </fieldset>
    </div>
    <div class="session-form__session-info">
      <h5 class="session-form__header">Session Details</h5>
      <span class="card-divider"></span>
      <p class="session-form__instructions">Please select 3 preferred time slots</p>

      <fieldset class="time-slot-group">
        <div class="time-field">
          <label>Time Slot 1</label>
          <select ng-options="item as item.formattedTime for item in allAvailableTimes track by item.time" ng-model="selectedOptionDay1"></select>
        </div>
        <div class="time-field">
          <label>Time Slot 2</label>
          <select ng-options="item as item.formattedTime for item in allAvailableTimes track by item.time" ng-model="selectedOptionDay2"></select>
        </div>
        <div class="time-field">
          <label>Time Slot 3</label>
          <select ng-options="item as item.formattedTime for item in allAvailableTimes track by item.time" ng-model="selectedOptionDay3"></select>
        </div>
      </fieldset>

      <fieldset class="topics-group">
        <p class="session-form__instructions">Select all the topics you want to discuss</p>
        <div class="checkbox-topic" ng-repeat="topic in topics">
          <input type="checkbox" ng-name="selected-topic-{{$index}}" ng-model="selectedTopics[topic]"><label class="checkbox-label" ng-for="selected-topic-{{$index}}">{{topic}}</label>
        </div>
      </fieldset>

      <p class="session-form__instructions">Propose additional topics</p>
      <fieldset class="additional-topic-group">
        <input class="field-small" type="text" ng-model="extraTopic1" placeholder="Topic 1">
        <input class="field-small" type="text" ng-model="extraTopic2" placeholder="Topic 2">
        <input class="field-small" type="text" ng-model="extraTopic3" placeholder="Topic 3">
      </fieldset>

      <span class="card-divider"></span>
      <div class="session-form__btns">
        <button class="btn btn-success" ng-click="confirm()"><i class="fa fa-envelope-o" aria-hidden="true"></i>Send</button>
        <button class="btn btn-cancel" ng-click="cancel()" ><i class="fa fa-ban" aria-hidden="true"></i>Cancel</button>
      </div>
    </div>
  </form>
</div>
