
<div class="search-tools" ng-show="showFilter">
  <div class="filters">
    <div class="filter">
      <label>Industry</label>
      <div>
        <isteven-multi-select    
            input-model="industries"    
            output-model="selectedIndustries"
            button-label="name"
            item-label="name"
            tick-property="ticked"
            helper-elements=""
        >
        </isteven-multi-select>
      </div>
    </div>
    <div class="filter">
      <label>Field</label>
      <div>
        <isteven-multi-select    
          input-model="fields"    
          output-model="selectedField"
          button-label="name"
          item-label="name"
          tick-property="ticked"
           helper-elements=""
        >
        </isteven-multi-select>
      </div>
    </div>
    <div class="filter">
      <label>Company</label>
      <div>
         <isteven-multi-select    
          input-model="companies"    
          output-model="selectedCompanies"
          button-label="name"
          item-label="name"
          tick-property="ticked"
           helper-elements=""
          >
          </isteven-multi-select>
      </div>
    </div>
    <div class="filter trigger">
      <button ng-click="search()">Update</button>
    </div>
  </div>
</div>

<div ng-if="mentors.length < 1"> 
  There are no mentors matching your search criteria. Please relax your criteria.
</div>

<div class="card-list">
	<div ng-repeat="mentor in mentors" class="card" ng-click="routeToMentor(mentor)">
        <div class="card-image">
            <img src="{{mentor.avatar}}" alt="{{mentor.first_name}} {{mentor.last_name}}">
        </div>
        <div class="card-header">
            {{mentor.first_name}} {{mentor.last_name}}
        </div>
        <div class="card-copy">
            <p>Class of {{mentor.year}}</p>
            <p>{{mentor.position}}</p>
        </div>
    </div>
</div>