<div class="search-tools" ng-show="showFilter">
  <div class="wrapper filters">
    <div class="filter">
      <label class="filter-title">
        <i class="fa fa-industry" aria-hidden="true"></i>
        <span>Industry</span>
      </label>
        <isteven-multi-select    
            input-model="industries"    
            output-model="selectedIndustries"
            button-label="name"
            item-label="name"
            tick-property="ticked"
            helper-elements=""
        ></isteven-multi-select>
    </div>
    <div class="filter">
      <label class="filter-title">
        <i class="fa fa-briefcase" aria-hidden="true"></i>
        <span>Field</span>
      </label>
        <isteven-multi-select    
          input-model="fields"    
          output-model="selectedField"
          button-label="name"
          item-label="name"
          tick-property="ticked"
           helper-elements=""
        >
        </isteven-multi-select>
    </div>
    <div class="filter">
      <label class="filter-title">
        <i class="fa fa-building-o" aria-hidden="true"></i> 
        <span>Company</span>
      </label>
         <isteven-multi-select    
          input-model="companies"    
          output-model="selectedCompanies"
          button-label="name"
          item-label="name"
          tick-property="ticked"
           helper-elements=""
          >
          </isteven-multi-select>
    </div>
    <div class="filter">
      <label class="filter-title">
        <i class="fa fa-certificate" aria-hidden="true"></i> 
        <span>Epicvisor Status</span>
      </label>
         <isteven-multi-select    
          input-model="mentorTypes"    
          output-model="selectedMentorStatuses"
          button-label="name"
          item-label="name"
          tick-property="ticked"
           helper-elements=""
          >
          </isteven-multi-select>
    </div>
    <div class="filter trigger">
      <button ng-click="search()"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
    </div>
  </div>
</div>

<div ng-if="mentors.length < 1" class="sorry">
  <ng-include src="'templates/partials/search-fail.html'">
</div>

<ng-include src="'templates/partials/mentor-card.html'">
