<div class="profile">
  <div class="profile__nav">
    <a href="/#/" title="back">&lt; Back</a>
  </div>
  <div class="profile__left">
    <div class="profile__intro">
      <div class="profile__avatar">
        <img class="profile__img" src="{{mentor.avatar}}">
        <div class="social-list">
          <a href="{{mentor.public_url}}" target="_blank"><img src="http://icons.iconarchive.com/icons/sicons/flat-shadow-social/512/linkedin-icon.png" width="20"></a>
        </div>
      </div>
      <div class="profile__intro-copy">
        <h1 class="profile__intro_name">{{mentor | name}}</h1>
        <p>Class of {{mentor.year}}</p>
        <p>{{mentor.position}}</p>
      </div>
    </div>


    <div class="profile__name-info-about">
      <h2>About</h2>
      <p>{{mentor.blurb}}</p>
      <p>{{mentor.summary}}</p>
    </div>
  </div>
  <div class="profile__right">
    <div class="profile__area-info">
      <h2>Career Fields</h2>
      <ul>
        <li ng-repeat="careerTopics in mentor.career_topics">{{careerTopics}}</li>
      </ul>
      <hr>
      <h2>Advice Topics</h2>
      <ul>
        <li ng-repeat="topic in mentor.topics">{{topic}}</li>
        <li ng-if="mentor.extraTopic1"> {{mentor.extraTopic1}}</li>
        <li ng-if="mentor.extraTopic2"> {{mentor.extraTopic2}}</li>
        <li ng-if="mentor.extraTopic3"> {{mentor.extraTopic3}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="scheduler">
  <h3 class="scheduler__h3">Availability</h3>
  <table class="scheduler__tables">
    <tbody>
      <tr ng-repeat="session in mentorSessions">
        <td>Week of {{session.date | date:"M/d"}}</td>
        <td>Session {{session.number}}</td>
        <td>Status</td>
        <td class="scheduler__session-status-open">{{session.status}}</td>
        <td> <button ng-if="session.status === 'Open'" ng-click="bookSession(session, mentor)"> Book </button> </td>
      </tr>
    </tbody>
  </table>
  <p>Only the following 4 weeks of sessions are available to book. Check back next week for more.</p>
</div>