<div class="profile">
  <div class="profile__name-info">
    <div class="profile__avatar">
      <img class="profile__img" src="{{mentor.avatar}}">
    </div>
    <div class="profile__name-info-name">
      <h1>{{mentor | name}}</h1>
      <div class="social-list">
        <a href="{{mentor.public_url}}"><img src="http://icons.iconarchive.com/icons/sicons/flat-shadow-social/512/linkedin-icon.png" width="20"></a>
        <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png" width="20">
      </div>
    </div>
    <div class="profile__name-info-about">
      <p>{{mentor.summary}}</p>
    </div>
    <div class="profile__name-info-edu">
      <h2>Education</h2>
      <p>UCLA, School of Anderson</p>
      <p>{{mentor.year}}</p>
    </div>
  </div>

  <div class="profile__area-info">
    <h2>Career Field</h2>
    <ul>
      <li ng-repeat="topic in mentor.topics">{{topic}}</li>
    </ul>
    <h2>Advice Topic</h2>
    <ul>
      <li>Mentoring</li>
      <li>Career Growth</li>
      <li>Create Ideas</li>
    </ul>
  </div>
</div>
<div class="scheduler">
  <h3 class="scheduler__h3">Availabliltiy</h3>
  <table class="scheduler__tables">
  <tbody>
    <tr ng-repeat="session in mentorSessions">
      <td>Week of {{session.date | date:"M/d"}}</td>
      <td>Session {{session.number}}</td>
      <td>Status</td>
      <td class="scheduler__session-status-open">{{session.status}}</td>
      <td> <button ng-if="session.status === 'Open'" ng-click="bookSession(session, mentor)"> Book </button> </td>
      <td> <a ng-if="session.status !== 'Open'" href="#/sessions/{{session.id}}"> View Details </a> </td>
      <td> <text ng-if="session.day"> Date: {{session.day | date: "M/d"}} </text> </td>
    </tr>
  </tbody>
</table>


