<profile-menu> </profile-menu>
<h2>
	Set up your sessions
</h2>

<div class="alert" ng-if="savedText">
	{{savedText}}
</div>

<div class="row">
	<span>
		How many student EpicSessions would you like to hold?
		<text> Students can only book up to 4 weeks in advance. Please respond to students within 2 days. </text>
	</span>
	<span>
		<select ng-options="sessionCount for sessionCount in sessionCounts" ng-model="selectedSessionCount"></select>
	</span>
	<span>
		<select ng-options="sessionCountType for sessionCountType in sessionCountTypes" ng-model="selectedSessionCountType"></select>
	</span>

</div>

<div class="row">
	
</div>


<div class="row">
	<h3> Which topics would you like to share about? </h3>

	<div ng-repeat="topic in topics">
		<topic topic-to-select="topic"></topic>
	</div>
</div>

<div class="row">
	<h3> Add any other topics: </h3>
	<input type="text" ng-model="extraTopic1" placeholder="Add">
	<input type="text" ng-model="extraTopic2" placeholder="Add">
	<input type="text" ng-model="extraTopic3" placeholder="Add">
	
</div>


<div class="row">
	<span>
		How would you like to hold your EpicSession?
	</span>
	<span>
		<select ng-options="contact as contact for contact in contacts" ng-model="selectedContact"></select>
	</span>
	<span>
		<input type="text" ng-model="contactDetails">
	</span>
	
</div>

<button class="button" ng-click="saveSessionState()">
	Update Profile Settings
</button>