<profile-menu> </profile-menu>
<div class="profile">
	<div class="profile__name-info">
		<div class="profile__avatar">
			<img class="profile__img" src="{{user.avatar}}">
		</div>
		<div class="profile__name-info-name">
			<h1>{{user.first_name}} {{user.last_name}}</h1>
		</div>
		<div class="profile__name-info-about">
			<textarea class="profile__name-info-about-textarea" maxlength="200" ng-model="blurb"></textarea>
			<p>Tell us about yourself in 200 characters</p>
		</div>
    <button ng-click="saveProfile()"> Update profile </button>
		<div class="profile__name-info-edu">
			<h2>Education</h2>
			<p>UCLA, School of Anderson</p>
			<p>2014 <select ng-options="year as year for year in years track by year" ng-model="selectedYear"></select></p>
			<p>Last Sync: {{user.last_modified}} <button>sync</button></p>
		</div>
	</div>
</div>

<div class="scheduler">
    <h3 class="scheduler__h3">Availabliltiy</h3>

  <table class="scheduler__tables">
  <tbody>
    <tr ng-repeat="session in sessions">
      <td>Week of {{session.date.toDate() | date:"M/d"}}</td>
      <td>Session {{session.number}}</td>
      <td>Status</td>
      <td class="scheduler__session-status-open">{{session.status}}</td>
    </tr>
  </tbody>
</table>

</div>