<div class="epic-sessions">
  <h1>Setup EpicSessions</h1>
  <hr>
  <div class="epic-sessions__question">
    <div class="question-copy">How many student EpicSessions would you like to hold?</div>
    <p><small>Students can only book up to 4 weeks in advance. Please respond to students within 2 days.</small></p>
    <div class="horizontal-select-group">
    <select ng-options="sessionCount for sessionCount in sessionCounts" ng-model="selectedSessionCount"></select>
      <div class="label-select-group">
        <label>Epic Session(s):</label>
        <select ng-options="sessionCountType for sessionCountType in sessionCountTypes" ng-model="selectedSessionCountType"></select>
      </div>
    </div>
</div>

<div class="epic-session-available-time-schedule" style="display:none;">
<p>Please provide ranges of time when you’ll be willing to host your <strong>{{selectedSessionCount}}</strong> <em>EpicSessions</em> during the week. <br><small>Students will use these times ranges to suggest the 30 minute sessions when booking</small></p>
<div ng-repeat="daySelect in days">
  <div class="epic-session-select-time-range-group">
    <label>{{daySelect.day}}</label>
    <select ng-options="startTimes.formattedTime for startTimes in daySelect.startTimes" ng-model="daySelect.selectedStartTime">
      <option value="" disabled selected>--:--</option>
    </select>
    <span class="txt-between">to</span>
    <select ng-options="endTimes.formattedTime for endTimes in daySelect.endTimes" ng-model="daySelect.selectedEndTime">
      <option value="" disabled selected>--:--</option>
    </select>
  </div>
</div>
<hr>
<p>Which email should session calendar confirmations be sent to?</p>
<input class="input-preferred-email-txt" size="40" type="email" ng-model="email_address" placeholder="Email">
</div>


<div class="epic-sessions__question">
  <div class="question-copy">Which topics would you like to share about?</div>
  <div ng-repeat="topic in topics">
    <topic topic-to-select="topic"></topic>
  </div>
  <p> Add any other topics: </p>
  <div class="group-topic">
    <input type="text" ng-model="extraTopic1" placeholder="Add">
    <input type="text" ng-model="extraTopic2" placeholder="Add">
    <input type="text" ng-model="extraTopic3" placeholder="Add">
  </div>
</div>

<div class="epic-sessions__question">
<div class="question-copy">How would you like to hold your EpicSession?</div>
<div class="horizontal-select-group">
  <select ng-options="contact as contact for contact in contacts" ng-model="selectedContact"></select> <input type="text" ng-model="contactDetails" placeholder="Skype ID, Gmail ID, Phone #"></div>
</div>
<button class="button" ng-click="saveSessionState()">
  Save
</button>
</div>