<div class="breadcrumbs">
  <a ng-href="/#/"><i class="fa fa-home" aria-hidden="true"></i></a>
  <span class="divider">></span>
  <a ng-href="/#/profile">Profile</a>
  <span class="divider">></span>
  <span class="inactive">EpicSessions Setup</a>
</div>

<div class="card-plain profile-session">
  <h2>EpicSession Setup</h2>

  <span class="card-divider"></span>
  <p class="session-form__instructions">How many student EpicSessions would you like to hold?</p>
  <fieldset class="session-frequency">
    <div class="field">
        <label>Qty</label>
        <select ng-options="sessionCount for sessionCount in sessionCounts" ng-model="selectedSessionCount"></select>
    </div>
    <div class="field">
      <p class="field-clarifier">Sessions</p>
    </div>
    <div class="field">
      <label>Frequency</label>
      <select ng-options="sessionCountType for sessionCountType in sessionCountTypes" ng-model="selectedSessionCountType"></select>
    </div>
    <p><small><i>Students can only book up to 4 weeks in advance.</i></small></p>
  </fieldset>

  <h5 class="session-form__header">Preferred Time</h5>
  <span class="card-divider"></span>

  <p class="session-form__instructions">Students will be able to create 30 minute time slots within your preferred time range.</p>
  <p class="error-session-time" ng-if="sessionStatusText" tabindex="-1">{{sessionStatusText}}</p>

  <div ng-repeat="daySelect in days">
    <label>{{daySelect.day}}</label>
    <fieldset class="time-group">
      <div class="field">
        <select ng-options="startTimes.formattedTime for startTimes in daySelect.startTimes" ng-model="daySelect.selectedStartTime">
          <option value="" disabled selected>--:--</option>
        </select>
      </div>
      <div class="field">
        <p class="field-clarifier">to</p>
      </div>
      <div class="field">
        <select ng-options="endTimes.formattedTime for endTimes in daySelect.endTimes" ng-model="daySelect.selectedEndTime">
          <option value="" disabled selected>--:--</option>
        </select>
      </div>
      <div class="field">
          <button class="btn btn-cancel" ng-click="wipeDefaultTimes(daySelect)"><i class="fa fa-trash-o" aria-hidden="true"></i>Clear</button>
      </div>
    </fieldset>
  </div>

  <h5 class="session-form__header">Topics</h5>
  <span class="card-divider"></span>
  <p class="session-form__instructions">Choose things you would like to discuss:</p>
  <div class="topic-listing">
    <div ng-repeat="topic in topics">
      <topic topic-to-select="topic"></topic>
    </div>
  </div>
  <p class="session-form__instructions">Additional topics:</p>
  <fieldset class="additional-topic-group">
    <input class="field-small" type="text" ng-model="extraTopic1" placeholder="Topic 1">
    <input class="field-small" type="text" ng-model="extraTopic2" placeholder="Topic 2">
    <input class="field-small" type="text" ng-model="extraTopic3" placeholder="Topic 3">
  </fieldset>

  <h5 class="session-form__header">EpicSession Settings</h5>
  <span class="card-divider"></span>
  <label>EpicSession Format</label>
  <fieldset class="contact-setting">
    <div class="field">
      <label>Platform</label>
      <select ng-options="contact as contact for contact in contacts" ng-model="selectedContact"></select>
    </div>
    <div class="field">
      <label>Details</label>
      <input class="field-medium" type="text" ng-model="contactDetails" placeholder="Skype ID, Gmail ID, Phone #">
    </div>
    <p><small><i>How will the session be held?</i></small></p>
  </fieldset>

  <span class="card-divider"></span>
  <button class="btn btn-success" ng-click="saveSessionState()">Save</button>
</div>
