<profile-menu> </profile-menu>
<div class="profile">
	<div class="profile__name-info">
		<div class="profile__avatar">
			<img class="profile__img" src="#">
		</div>
		<div class="profile__name-info-name">
			<h1>{{user.name}} Ed Cho</h1>
		</div>
		<div class="profile__name-info-about">
			<textarea class="profile__name-info-about-textarea" maxlength="200" ng-model="blurb"></textarea>
			<p>Tell us about yourself in 200 characters</p>
		</div>
		<div class="profile__name-info-edu">
			<h2>Education</h2>
			<p>UCLA, School of Anderson</p>
			<p>2014 <select ng-options="year as year for year in years" ng-model="selectedYear"></select></p>
			<p>Last Sync: {{user.last_modified}} <button>sync</button></p>
		</div>
	</div>
</div>

<div class="scheduler">
    <h3 class="scheduler__h3">Availabliltiy</h3>

  <table class="scheduler__tables">
  <tbody>
    <tr>
      <td>Week of 4/4</td>
      <td>3 sessions</td>
      <td>Status</td>
      <td class="scheduler__session-status-open">Open</td>
    </tr>
    <tr>
      <td>Week of 4/11</td>
      <td>3 sessions</td>
      <td>Status</td>
      <td class="scheduler__session-status-open">Open</td>
    </tr>
    <tr>
      <td>Week of 4/18</td>
      <td>3 sessions</td>
      <td>Status</td>
      <td class="scheduler__session-status-blocked">Blocked</td>
    </tr>
    <tr>
      <td>Week of 4/25</td>
      <td>3 sessions</td>
      <td>Status</td>
      <td class="scheduler__session-status-blocked">Blocked</td>
    </tr>
  </tbody>
</table>

</div>