<div class="session-details card-plain">
	<div class="alert">
		{{status}}
	</div>
	<div class="profile__avatar">
		<img class="profile__img" src="{{mentor.avatar}}">
	</div>
	<p>
		Status: {{session.status}}
	</p>
	<h2>Greetings, {{mentor | name}}.</h1>
	<p>It appears {{student.name}} ({{student.email}}) would like to schedule an <br> EpicSession with you for <b>{{session.date | date:"M/d"}}</b></p>

	<div class="label-input-text-group">
		<p><label for="input-text-preveredtext">Preferred way to connect:</label></p>
		<input type="text" ng-model="preferredConnection" id="input-text-preveredtext">
	</div>
	<div class="session-select-option">
		<label> Pick the time from this list if mentor: </label>
		<select ng-options="time as time.formattedTime for time in timesToPickFrom track by time.time" ng-model="selectedBookingTime"></select>
	</div>
	<div class="session-button-text-group__wrapper">
		<div class="session-button-text-group">
			<button ng-click="confirm()">
				<text ng-if="isPending(session)"> Confirm </text>
				<text ng-if="!isPending(session)"> Reschedule </text>
			</button>
			<p>
				Confirmation emails will be sent to attendees
			</p>
		</div>
		<div class="session-button-text-group">
			<button ng-click="cancel()" class="btn-cancel">
				Cancel
			</button>
			<p>
				Session status will return to open
			</p>
		</div>
	</div>
</div>
