
<div class="session-details">
	<div class="alert">
		{{status}}
	</div>
	<div class="profile__avatar">
		<img class="profile__img" src="{{mentor.avatar}}">
	</div>
	<p>
		Status: {{session.status}}
	</p>
	<h1>{{mentor | name}}</h1>
	<p>Class of {{mentor.year}}</p>
	<h2>
	EpicSession for the Week of {{session.date | date:"M/d"}}
	</h2>
	<h3>Meeting with {{student.name}} ({{student.email}})</h3>
	<div class="session-selection-group">
		<div class="session-selection-group-labelselect">
				<select id="startTime" ng-options="day as day.formattedDate for day in days track by day.date" ng-model="selectedDay"></select>
		</div>
		<div class="session-selection-group-labelselect">
			<label for="startTime">Start time</label>
			<select ng-options="time as time.formattedTime for time in startTimes track by time.time" ng-model="selectedStartTime"></select>
		</div>
	</div>
	<div class="label-input-text-group">
		<label for="input-text-preveredtext">Preferred way to connect:</label>
		<input type="text" ng-model="preferredConnection" id="input-text-preveredtext">
	</div>
	<div class="session-button-text-group__wrapper">
		<div class="session-button-text-group">
			<button ng-click="confirm()">
				<text ng-if="isPending(session)"> Confirm </text>
				<text ng-if="!isPending(session)"> Reschedule </text>
			</button>
		Confirmation emails will be sent to attendees
		</div>
		<div class="session-button-text-group">
			<button ng-click="cancel()" class="btn-cancel">
			Cancel
			</button>
			<p>
				Session status will return to open
			</p>
		</div>
	</div>
</div>