<div class="profile">
	<div class="profile__name-info">
		<div class="profile__avatar">
		  <img class="profile__img" src="{{mentor.avatar}}">
		</div>
		<div class="profile__name-info-name">
		  <h1>{{mentor | name}}</h1>
		  <div class="social-list">
		    <a href="{{mentor.public_url}}"><img src="http://icons.iconarchive.com/icons/sicons/flat-shadow-social/512/linkedin-icon.png" width="20"></a>
		    <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png" width="20">
		  </div>
		</div>
		<div class="profile__name-info-edu">
		  <h2>Education</h2>
		  <p>UCLA, School of Anderson</p>
		  <p>{{mentor.year}}</p>
		</div>
	</div>
</div>
<div>
	<p>
		EpicSession for the Week of {{session.date | date:"M/d"}}
	</p>
	<p>
		Status: {{session.status}}
	</p>
</div>
<div>
	Meeting with {{student.name}} ({{student.email}})
</div>
<div>
	Preferred way to connect:
	<input type="text" ng-model="preferredConnection">
</div>
<div>
	<div>
		<button ng-click="confirm()">
			Confirm
		</button>
		<p>
			Confirmation emails will be sent to attendees
		</p>
	</div>
	<div>
		<button ng-click="reschedule()">
			Reschedule
		</button>
		<p>
			Please both confirm over email before rescheduling
		</p>
	</div>
	<div>
		<button ng-click="cancel()">
			Cancel
		</button>
		<p>
			Session status will return to open
		</p>
	</div>
	
</div>