<!-- resolve with directive -->
<div class="progress-bars">
  <!-- loop through progress views and create ng-class for active scope -->
  <span class="circle">1</span>
  <span class="circle">2</span>
  <span class="circle">3</span>
  <span class="circle">4</span>
  <span class="circle">5</span>
  <span class="circle">6</span>
  <span class="circle active">6</span>
</div>

<div class="card-plain onboarding onboarding-3 animated fadeInLeft">
  <img src="images/onboarding-5.svg" class="svg">
  <h1>All Done!</h1>
  <p>You're all set, and ready to spread your knowledge! Feel free to browse your profile and make sure it's what you expect.</p>

  <button class="btn" ng-click="goToProfile()">View Profile</button>
</div>
