<div class="progress-bars">
  <!-- loop through progress views and create ng-class for active scope -->
  <span class="circle">1</span>
  <span class="circle">2</span>
  <span class="circle">3</span>
</div>

<div class="card-plain onboarding onboarding-3 animated fadeInLeft">
  <img src="images/onboarding-5.svg" class="svg">
  <h1>All Done!</h1>
  <p>You're all set, and ready to spread your knowledge! Feel free to browse your profile and make sure it's what you expect.</p>

    <!-- saveProfile() and move to screen 4 -->
  <a href="#/start/ 4"><button class="btn">View Profile</button></a>
</div>
