<!-- resolve with directive -->
<div class="progress-bars">
  <!-- loop through progress views and create ng-class for active scope -->
  <span class="circle">1</span>
  <span class="circle">2</span>
  <span class="circle">3</span>
  <span class="circle active">4</span>
  <span class="circle">5</span>
  <span class="circle">6</span>
  <span class="circle">6</span>
</div>

<div class="card-plain onboarding onboarding-4 animated fadeInLeft">
  <h1>How often would you like to meet?</h1>
  <p>We require 2 epic sessions a month, but feel free to add more if you like. Don't worry this can always be changed in your profile settings.</p>

  <div class="form">
    <p>I would like to meet...</p>
    <select ng-options="sessionCount for sessionCount in sessionCounts" ng-model="selectedSessionCount"></select>
    times a month.
  </div>

  <!-- saveProfile() and move to screen 4 -->
  <button class="btn" ng-click="saveProfile()">Next</button>
</div>
