<!-- resolve with directive -->
<div class="progress-bars">
  <!-- loop through progress views and create ng-class for active scope -->
  <span class="circle active">1</span>
  <span class="circle">2</span>
  <span class="circle">3</span>
  <span class="circle">4</span>
  <span class="circle">5</span>
  <span class="circle">6</span>
  <span class="circle">6</span>
</div>

<div class="card-plain onboarding onboarding-1 animated fadeInUp">
  <img src="images/onboarding-1.svg" class="svg svg-large">
  <h1>Welcome!</h1>
  <p>EpicVisor connects students with amazing mentors based on areas of interest, industries, or expertise.</p>

  <a href="#/start/2"><button class="btn">Get Started</button></a>
</div>
