<div class="progress-bars">
  <!-- loop through progress views and create ng-class for active scope -->
  <span class="circle">1</span>
  <span class="circle active">2</span>
  <span class="circle">3</span>
</div>

<div class="card-plain onboarding onboarding-2 animated fadeInLeft">
    <img src="images/onboarding-2.svg" class="svg">
    <h1>Let's set up your profile</h1>
    <p>To generate your profile, we will need to sync some basic information from your LinkedIn.</p>

    <!-- instead of 3, redirect to linkedIn => callback to start/3 -->
    <a href="/oauth/linkedin"> <button class="btn">Sync LinkedIn</button> </a>
</div>
